<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.jinxiyang.requestpermission">

    <application>

        <!--  1、如果activity 设置了 screenOrientation，请使用主题 RequestTransparentTheme.OrientationTransparentTheme
                解决在android 8.0/8.1 (即v26/27)，报错：只有不透明的全屏activity可以自主设置界面方向   -->
        <!--  2、如果activity 没有设置 screenOrientation， 请使用主题 RequestTransparentTheme.TransparentTheme    -->
        <activity
            android:name=".RequestPermissionActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"
            android:theme="@style/RequestTransparentTheme.TransparentTheme"
            />
    </application>

</manifest>